<% include partials/header.ejs %>


<main id="image">
<div class="mainContent">
    <form action="/searchResults" method="GET">
        <div>
            <h1 class="text-center text-uppercase">Are you in a movie kind of mood? Check out what's in Theaters</h1>
            <button type="submit" class="btn btn-success" id="movies">Show me the Movies</button>

        </div>
    </form>
</div>
</main>

<% include partials/footer.ejs %>






