<% include partials/header.ejs %>
<div class="info">
    <h1>Star Wars Character Information</h1>
    <h3> Name: </h3>
        <p><%= people.name %></p>
    <h3> Height: </h3>
        <p><%= people.height %>cm  </p>    
    <h3> Hair color: </h3>
        <p><%= people.hair_color %>  </p>    

</div>
<% include partials/footer.ejs %>